@charset "utf-8";

html {
	background-color: black;
	color: white;
}

body {
	padding: 10px;
}

span {
	padding: 0 5px;
}

table {
	border: 1px solid white;
	border-collapse: collapse;
	font-size: 15px;
}

td {
	padding: 0;
	text-align: center;
	width: 15px;
	height: 15px;
	line-height: 15px;
}

td.snake {
	background-color: white;
}

td.food {
	--clr: #ffffff;
	background-image: radial-gradient(circle closest-side, var(--clr) 100%, black);
}

#win {
	font-size: 20px;
	color: lime;
}

#lose {
	font-size: 20px;
	color: red;
}

main {
	float: left;
}

aside {
	float: right;
	max-width: 50%;
}

aside ul {
	list-style: square;
}

#controls {
	height: 250px;
	width: 250px;
	position: relative;
}

.direction {
	font-size: 30px;
	background-color: white;
	width: 75px;
	height: 75px;
	border-radius: 8px;
	cursor: pointer;
	position: absolute;
}

#up_button {
	left: 75px;
}

#left_button {
	top: 75px;
}

#right_button {
	left: 150px;
	top: 75px;
}

#down_button {
	left: 75px;
	top: 150px;
}

#options div {
	padding: 5px;
}
